*{
   box-sizing: border-box;
}

body, ul, p, h1, h2, h3, h4{
    margin: 0;
    padding: 0;
}





@font-face {
  font-family: 'gm_1';
  src: url('../fonts/bpg_nino_mtavruli_normal.ttf'); 
}


@font-face {
  font-family: 'gm_2';
  src: url('../fonts/achveullbold.ttf'); 
}


@font-face {
  font-family: 'gm_3';
  src: url('../fonts/RubikBubbles-Regular.ttf'); 
}


@font-face {
  font-family: 'gm_4';
  src: url('../fonts/ProstoOne-Regular.ttf'); 
}






/* navigacia */



header{
   background-color: black;

}


.navbar{
   padding: 20px  0px;
}

.navbar-brand {
    background-color: red;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    transition: 1s;
    font-family: gm_4;
    }

.navbar-brand:hover{
      background-color: white;
      color: red;
    }



.nav-link {
    color: white;
    transition: 1s;
    font-family: gm_1;
    }  


.nav-link:hover{
   color: red;
}      

.navbar-toggler i{
   color: white;
}


.meniu{
   display: flex;
   margin-left: auto;
   align-items: center;
}

.sms i{
   font-size: 23px;
   color: white;
}

.sms {
   padding: 0px 5px;
}

.menu_img img{
   width: 100%;
}

.menu_img {
   padding: 0px 5px;
}


.menu_gamowera{
   padding: 0px 5px;
}

.menu_gamowera a{
   background-color: red;
   color: white;
   text-decoration: none;
   padding: 5px 10px;
   border-radius: 5px;
   transition: 1s;
   font-family: gm_1;
       display: block;
    min-width: 120px;
    text-align: center;

}

.menu_gamowera a:hover{
   color: red;
   background-color: white;
}




/* sashinelebata baqgraundi w-100 */

.horror_bg img {
   width: 100%;
}




/*filmebi hoveris animaciit*/


.horror_series{
   background-color: black;
}


.latest_name{
   margin-top: 40px;
   color: white;
   font-size: 20px;
   font-weight: bolder;
}


.latest_name_line{
   border: 1px solid silver;
   margin-top: 15px;
   box-shadow: 4px 3px 6px red;
}

.cards img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: 2s;
   
}

.cards:hover img{
  scale: 1.2;
}

.cards{
    border-radius: 10px;
   overflow: hidden;
   border: 4px solid white;
   position: relative;
   margin-top: 50px;
   margin-bottom: 50px;
   cursor: pointer;
}

.cards:hover .cards_child{
   top: 0%;
}


.cards_child{
   width: 100%;
   height: 100%;
   top: 100%;
   right: 0;
   transform: translate(-50% -50%);
   position: absolute;
   background: #0000ff2e;
   backdrop-filter: blur(1px);
   
   color: white;
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   transition: 1s;
   


}


.cards_child h2{
  text-align: center;
  text-shadow: 2px 2px red;
  font-size: 22px;
  font-family: gm_3;
}

.cards_child p{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: gm_1;

}


.cards_child_a {
    text-align: center;
    display: block;
    margin-top: 10px;
}


.cards_child_a a{
    background-color: red;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bolder;
    font-family: gm_1;
    
}

.cards_child_a a:hover{
   background-color: white;
   color: red;
}



.cards_child h2{
   text-align: center;
}




.real-love{
   overflow: hidden;
}


.real-love a img{
   width: 100%;
   object-fit: cover;
   transition: 1s;

}

.real-love a img:hover{
   transform: scale(1.1);
   overflow: hidden;

}


/*footer*/

.footer_one{
   background-color: #222240;
   border-bottom: 1px solid silver;
}


.footer_one_1 p{
  color: white;
}



.footer_one_logo_p {
   margin-top: 30px;
   margin-bottom: 20px;
}

.footer_one_logo_p a{
   text-decoration: none;
   background-color: red;
   padding: 10px;
   color: white;
   text-decoration: none;
   border-radius: 10px;
}


.footer_one_span_p{
   display: flex;
   margin-top: 20px;
   margin-bottom: 20px;
}


.footer_one_span_1{
   margin-right: 5px;
   background-color: red;
   border-radius: 50%;
   padding: 17px 14px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
}



.footer_one_span_1 a{
   color: white;
}

.footer_one_nav_p ul{
   display: flex;
   list-style-type: none;
   flex-wrap: wrap;
}

.footer_one_nav_p ul li{
   display: inline-block;
}

.footer_one_nav_p ul li a{
   display: block;
   margin-right: 20px;
   color: white;
   text-decoration: none;
}


.footer_one_nav_p{
   margin-top:20px ;
   margin-bottom: 20px;
}

.footer_one_nav_img{
   display: flex;
   flex-wrap: wrap;

}

.fimg{
   width: 150px;
   border: 1px solid white;
   margin-right: 10px;
   cursor: pointer;
   margin-top: 10px;
}



.footer_one_nav_img img{
   width: 100%;
}



.footer_one_nav_p_2 {
   margin-bottom: 50px;
}


.footer_one_nav_p_2 ul{
    display: flex;
   list-style-type: none;
   flex-wrap: wrap;
   margin-top: 20px;
}



.footer_one_nav_p_2 ul li a{
   display: block;
   padding: 0px 10px;
   color: white;
   text-decoration: none;
   display: flex;
   margin-top: 20px;


}



.footer_nav_border{
   display: block;
   border: 1px solid white;
   box-shadow: 2px 2px 2px red;
   margin-left: 10px;

   
}





footer{
   background-color:#222240 ;
}

.footer_last_1{
   margin-bottom: 10px;
   margin-top: 40px;
   color: white;
}


.footer_last_2{
   display: flex;
   justify-content: flex-end;
   margin-top: 40px;
   margin-bottom: 40px;
}

.footer_last_2_member{
   padding: 0px 10px;

}
.footer_last_2_member a{
   background-color: red;
   color: white;
   font-weight: bolder;
   text-decoration: none;
   padding: 10px;
   border-radius: 10px;
   transition: 1s;
}

.footer_last_2_member a:hover{
   background-color: white;
   color: red;
}


.footer_last_2 p{
   color: white;
}


.footer_last_2_shesvla{
   color: red;

}



@media screen and (max-width: 991px){
   .footer_last_2{
      display: flex;
      justify-content:normal;
      flex-direction: column;

   }

   .footer_last_2_member{
      margin-top: 20px;
   }
}